* {
  margin: 0px 0px 0px 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
 background-color: #BBDBB4;
 
}

header {
  width: 100%;
  background: linear-gradient(to top, #057302 0%, #057302 60%, #fcf0cc 60%, #fcf0cc 100%);
  margin:auto;
}

h1 {
  display: inline-block;
  align-content: left;
  margin-bottom: 35px;
  margin-left: -10px;
  font-size: 36px;
}

h2 {
  margin-right: 5%;
  margin-top: 8px;
  margin-bottom: 8px;
}


nav {
  background-color: #057302;
  padding: 5px;
 text-align: center;
  
  max-width: 750px;
  
}

li {
  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  display: inline-block;
  background-color: #057302;
  position: relative;
  border-color: transparent;
  border-style: none solid solid none;
  border-width: 5px;
}

a {
  text-decoration: none;
  margin: 5px 5px 5px 5px;
  color: black;
}

#cspace:hover {
  border-color: rgba(4, 80, 1);
  border-style: none solid solid none;
  background-color: #BBDBB4;
  border-width: 5px;
}

#Bonzi {
  align-content: left;
  width: 180px;
  height: 180px;
}

#AboutUs{

width: 750px;
align-content: center;
margin-left: 5%;
margin-right: 5%;

}

#introPara{
  height: 180px;
  align-content: left;

}

main {

  font-family: Arial, Helvetica, sans-serif;
  content: "";
  clear: both;
  display: table;

}



#BonziPng{
margin-bottom: -50px;
float:right;

}

video
{
  margin-left: 2%;
}

#IntroMain{

  width: 750px;
  margin-left: 5%;
  margin-right: 5%;


display: inline-block;


}

#SecondMain{


  width: 500px;
  margin-left: 5%;
  margin-right: 5%;


display: inline-block;
}



#Meetyou {

width: auto;
height: auto;


}



img {

  width: 180px;
  height: 180px;
}


#Paypalimg {

  width: 250px;
  height: 100px;
  
}

#Contact
{
  width: 300px;
  padding: 12px 20px;
  margin: 20px 0px 8px 0px;
  
  margin-right: 5%;
  box-sizing: border-box;
  border-style: none solid solid none;
  background-color: #fcf0cc;
  border-width: 7.5px;
  resize: none;
}

#ContactUs
{
  overflow: auto;
  width: 750px;
  text-align: center;

}


#first
{
  float: left;
  margin-left: 5%;
  width: 300px;
}

#second
{
  overflow: hidden;
  float: right;
  width: 380px;
}

#second img
{
  width: 250px;
  height: 250px;
}

#DonationMain{
  overflow: auto;
  width: 750px;
  text-align: center;

}

#DonationSub{

  float: left;
  margin-left: 5%;
  width: 300px;
}

#DonationForm
{
  overflow: hidden;
  float: right;
  width: 350px;
}

#Donation
{
  width: 375px;
  padding: 12px 20px;
  margin: 20px 0px 8px 0px;
  
  margin-right: 5%;
  box-sizing: border-box;
  border-style: none solid solid none;
  background-color: #fcf0cc;
  border-width: 7.5px;
  resize: none;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 0px;
  
  margin-right: 5%;
  box-sizing: border-box;
  border-style: none solid solid none;
  background-color: #fcf0cc;
  border-width: 7.5px;
}

input[type=text]:focus {
  outline: none;
}

input[type=text]:hover {

  border-color: #041B15;

}

input[type=email] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0px 8px 0px;
  
  margin-right: 5%;
  box-sizing: border-box;
  border-style: none solid solid none;
  background-color: #fcf0cc;
  border-width: 7.5px;
  resize: none;
}

input[type=email]:focus {
  outline: none;
}

input[type=email]:hover {

  border-color: #041B15;

}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  margin: 0px;
  
  margin-right: 5%;
  box-sizing: border-box;
  border-style: none solid solid none;
  background-color: #fcf0cc;
  border-width: 7.5px;
  resize: none;
}

textarea:focus {

  outline: none;
}

textarea:hover {

  border-color: #041B15;

}

button {
  font-family: Arial, Helvetica, sans-serif;
  width: 25%;
  padding: 12px 20px;
  margin: 8px;
  text-align: center;
  box-sizing: border-box;
  border-style: none solid solid none;
  border-color: grey;
  background-color: #fcf0cc;
  border-width: 7.5px;

}

button:hover {

  border-color: #041B15;

}

#blank {

background-color: transparent;
border-color: transparent;

}

#Btnsubmit {
  font-family: Arial, Helvetica, sans-serif;
  width: 25%;
  padding: 12px 20px;
  margin: 8px;
  margin-top: 20px;
  text-align: center;
  box-sizing: border-box;
  border-style: none solid solid none;
  border-color: grey;
  background-color: #fcf0cc;
  border-width: 7.5px;
}

#Btnsubmit:hover{

  border-color: #041B15;

}

footer{

text-align: center;
width: 750px;
margin-left: 2.5%;
margin-right:5% ;

}

.info
{
  margin-top: 40px;
}

.paypalimg
{
  width: 175px;
  height: 120px;
}

.slideshow-container {
  max-width: 1000px;
  position: left;
  margin: auto;
}

.mySlides {
  display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 3}
}

#slide1 {
  display: block;
}